@page
@model WebApplication_Ragnarok.Pages.Bjørn_UglebjergModel
@{
    <html>
    <head> Bjørn Uglebjerg </head>
    
    <body>
    <h1> Opvækst </h1>
    <p>  Historie om Bjørn</p>

    <h2> Karierre</h2>
    <p> Liv som musiker</p>

    <h3> Efter Gasolin</h3>
    <p> </p>


    </body>
   
    </html>

    <footer>

    </footer>
    <nav>

    </nav>
}

