@page
@model WebApplication_Ragnarok.Pages.Bjørn_UglebjergModel
@{
    ViewData["Title"] = "Bjørn Uglebjerg' Trommeslager for gasolin";
}
    <html>
    <head> Bjørn Uglebjerg </head>
    
    <body>

        <div> 
        <img src="https://i.discogs.com/0eqEwdHFe7xlszDzHOo0zIiIEm7jaQpaSnTqs8OOaa0/rs:fit/g:sm/q:40/h:300/w:300/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTUzMjA0/NS0xNDQ2MTkxOTk2/LTI5MDEuanBlZw.jpeg" class="small-image" />
        </div>
           

    <h1> Opvækst </h1>
        <p>
            Bjørn Uglebjerg (21. marts 1948 i København – 21. juni 1994) var en dansk trommeslager.

            Som 15-årig i 1963 dannede Bjørn Uglebjerg sammen med Peer Frost gruppen The Foottappers som senere blev til Les Rivals.
        </p>

    <h2> Karierre</h2>
        <p>
            Uglebjerg var første trommeslager i Gasolin'. I 1971 blev han udskiftet med Søren Berlev, og medvirkede senere som trommeslager og percussionist på Skousen & Ingemanns Herfra hvor vi står (1971) og Lone Kellermann og Rockbandets Før Natten Bli'r til dag (1978) og Tilfældigt Forbi (1979). Desuden var Uglebjerg fast medlem af Frede Norbrinks gruppe Frede Fup.

            Uglebjerg var en flittigt benyttet studiemusiker og trommeslager i diverse konstellationer. Han var meget aktiv musikpolitisk herhjemme, og var en vellidt person i musiske kredse.
        </p>

    <h3> Efter Gasolin</h3>
        <p>
            Han dannede privat par med Susanne Mertz, som var en af grundene til han forlod Gasolin' i 1971. Han valgte at tilbringe tiden med hende, frem for de store tiltagende diskussioner som prægede bandet dengang. Susanne Mertz, datter af kunstmaler Albert Mertz, var og er stadigvæk fotograf, hvorfor mange af Bjørns koncerter er foreviget af Susanne Mertz.

            Frem mod sin død spillede han flittigt i bandet "All Stars", som var et band der blev dannet som husorkester til en programrække i tv. I "All Stars" var der også så prominente musikere som Billy Cross, Flemming Ostermann og Jens Rugsted. Tv-udsendelserne gav efterfølgende bandet en masse livejobs.

            Bjørn Uglebjerg bosatte sig de sidste år af sit liv i Svendborg, og var også her meget aktiv i musikforeningslivet.
        </p>


    </body>
   
    </html>

    <footer>

    </footer>
    <nav>

    </nav>


<img src="~/img/bjørn uglebjerg.jpeg" class="small-image"/>

