@page
@model WebApplication_Ragnarok.Pages.Franz_BeckerleeModel
@{
    ViewData["Title"] = "Franz beckerlee guitarist for Gasolin";
}
    <html>
     <body>
    <h1> Opvækst </h1>
        <p>  Franz Beckerlee (født 15. august 1942) er en dansk musiker, der var guitarist i rockgruppen Gasolin. Han har desuden spillet jazz.</p>

    <h2> Karierre</h2>
        <p> Beckerlee spiller guitar og saxofon. Han begyndte at spille saxofon som 12-årig. 
        Sammen med Hugh Steinmetz, Niels Harrit, Steffen Andersen og Bo Thrige Andersen dannede han The Contemporary Jazz Quintet, som spillede avantgardejazz. 
        Kvintetten fik megen ros af kritikere og presse, men fik ingen større succes hos publikum. Franz fik tildelt årets jazzlegat i 1964 og 1968. 
        Derefter kom Franz Beckerlee med i Gasolin', hvor han spiller guitar a la Jimi Hendrix. </p>

    <h3> Efter Gasolin</h3>
        <p> Efter Gasolin' var Franz Beckerlee med i Christianshavns Bluesband sammen med Søren Berlev og Lone Kellermann.</p>


    </body>
   
    </html>

    <footer>

    </footer>
    <nav>

    </nav>

<img src="~/img/franz beckerlee.jpeg" class="small-image" />