@page
@model IndexModel
@{
    ViewData["Title"] = "Gasolin' - Forside";
}

<div class="container">
    <h1>Velkommen til udstillingen</h1>
    <p>Oplev historien om Danmarks største rockband.</p>

    <!-- Billede af Gasolin' -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Gasolin_band.jpg" alt="Gasolin Band" class="band-image">

    <!-- Navigationslinks -->
    <h2>Mød medlemmerne</h2>
    
    <p> <a href="Kim_Larsen">Kim_Larsen</a> </p>
    <p> <a href="Søren_berlev">Søren_berlev</a> </p>
   <p> <a href="Bjørn_Uglebjerg">Bjørn_Uglebjerg</a> </p>
   <p> <a href="Wili_Jønsson">Wili_Jønsson</a> </p>
   <p> <a href="Franz_Beckerlee">Franz_Beckerlee</a> </p>
    <!-- Link til Tidslinje -->
    <a class="btn" asp-page="/Tidslinje">Se Gasolins Historie</a>
</div>

