@page
@model IndexModel
@{
    ViewData["Title"] = "Gasolin' - Forside";
}

<div class="container">
    <h1>Velkommen til udstillingen</h1>
    <p>Oplev historien om Danmarks største rockband.</p>

    <!-- Billede af Gasolin' -->
    <div> 
        <img src="https://upload.wikimedia.org/wikipedia/en/d/d9/Gasolin%27_promo_photo.jpg" alt="Gasolin Band" class="band-image small-image" />
    </div>
    
    <!-- Navigationslinks -->
    <h2>Mød medlemmerne</h2>
    
    <p> <a class="text-warning" href="Kim_Larsen">Kim_Larsen</a> </p>
    <p> <a class="text-warning" href="Søren_berlev">Søren_berlev</a> </p>
    <p> <a class="text-warning" href="Bjørn_Uglebjerg">Bjørn_Uglebjerg</a> </p>
    <p> <a class="text-warning" href="Wili_Jønsson">Wili_Jønsson</a> </p>
    <p> <a class="text-warning" href="Franz_Beckerlee">Franz_Beckerlee</a> </p>
    <!-- Link til Tidslinje -->
    <a class="btn" asp-page="/Tidslinje">Se Gasolins Historie</a>
</div>

