@page
@model WebApplication_Ragnarok.Pages.Søren_BerlevModel
@{
	ViewData["Title"] = "Søren Berlev' Trommeslager for gasolin";
}
<head> Søren Berlev</head>
<body>
<h1> Opvækst </h1>
<p1>Søren "Charlie" Berlev født 4. maj 1950 i Skt. Nikolai sogn, Nakskov. Søren Berlev er søn af Finn Berlev. Finn Berlev var fra 1961 lektor i fysik og matematik på Jonstrup Statsseminarium, og Finns hustru heed Kirsten Marie Bahnson. Søren Berlev er ikke døbt </p1>
<h2> Karrier</h2>
	<p1>
		Efter hans karrier i Gasoline var han i forskellige grupper.

		I 1989 var han en del af den gendannede gruppe The Lollipops, der nåede at udsende et enkelt album inden de gik fra hinanden igen.

		Fra 1987 til 1992 spillede han desuden i Christianshavns Bluesband med blandt andre Franz Beckerlee, Lone Kellermann, Sten Haxø, Peter Mandorf m.fl. Bandet var flittig turnerende og fejrede store triumfer på landets livescener, hvor de blandt andet spillede på både Midtfyns Festival og Skanderborg Festival og desuden også turnerede på Færøerne.

		I 1997-98 spillede Berlev i bandet Superhead, til hvilket han også bidrog som sangskriver.

		Han blev i år 2000 trommeslager i syretrioen Dream City med guitaristen TømrerClaus og bassisten og sangeren Peter Ingemann.

		I 2007 påbegyndte Søren Berlev arbejdet med en soloplade, med planlagt udgivelse i foråret 2008, på Sony Music. Resultatet forelå i marts 2008 med cd'en Timeless Choice.

		Søren Berlev blev senere trommeslager i det gendannede Young Flowers med Peer Frost og Peter Ingemann. Han dannede i 10'erne også bandet Berlev's Rock 'N' Roll Hotel, der udsendte pladerne You Can Make It (2018) og Close To The Line (2019).
	</p1>
<h3> Efter Gasoline</h3>
<p1>
	Efter Gasolin's opløsning i 1978 flyttede Søren Berlev til USA og boede der til 1984, hvor han i perioden indgik i forskellige bands, blandt andet rock/reggae-trioen Wild Remain der udsendte en enkelt single på CBS i 1980, og også turnerede i Danmark.

</p1>
</body>

<img src="~/img/søren berlev.jpeg" class="small-image" />