@page
@model WebApplication_Ragnarok.Pages.Wili_JønssonModel
@{
	ViewData["Title"] = "Wili Jønsson Bassist og keyboardspiller for Gasolin";
}
<head>  Wili Jønsson </head>
<body> 
 <h1>Opvækst</h1>
 <p1> Wili Jønsson er født d. 27. marts 1942. Han er født på Amager. Han er halv svensker. </p1>

 <h2>Karriere</h2>
	<p1>
		Orkestre
		Peter Belli og Seven Sounds
		The Exploding Mushrooms
		Gasolin'
		Swing Jørgen
		Dag Band
		Frede Fup
		Sanne Salomonsen band
		Sorte Penge
		Peter Belli og de nye rivaler
		Allan Olsen Band
		Poulin og de lidt brugte
		Bolværket
		Fra 1996 med i TYG. Har desuden været brugt som studiemusiker.
	</p1>
 <h3>Efter Gasoline</h3>
 <p1> Han deltog i flere forskellige bands, og var med i tv-programmet Allstars i 2009.</p1>
</body>


<img src="~/img/wili jønsson.jpeg" class="small-image" />